[submodule "vendor/miniupnp"]
	ignore = dirty
	branch = master
	path = vendor/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "vendor/libnatpmp-upstream"]
	path = vendor/libnatpmp-upstream
	url = https://github.com/miniupnp/libnatpmp.git
	ignore = dirty
	branch = master
